.mapboxgl-ctrl-logo {
    display: none !important;
}

body { 
    margin: 0; padding: 0;
}

#map { 
    bottom: 0; 
    height: 100%;
    position: absolute; 
    top: 0; 
    width: 100%;
}

.map-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 10px;
}
     
.map-controls {
    background-color: #fff;
    font: 12px/20px Arial;
    border-radius: 10px;
    padding: 10px;
}
     
h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}

p {
    border-bottom: 1px solid #ddd;
    margin: 10px 19px 9px 0;
    padding-bottom: 5px;
}
     
input {
    margin: 0;
}

.dateControls {
    border-right: 2px solid #eee;
    display: inline-block;
    margin: 0 0 0 10px;
    padding-right: 30px;
}

.autorunControls {
    display: inline-block;
    margin-left: 20px;
}

.speedSelectors {
    margin: 0 0 2px;
}

.dateLabel {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
}

.slider {
    bottom: -3px;
    cursor: pointer;
    position: relative;
    width: 100%;
}

.autorun {
    cursor: pointer;
}

.speeds label {
    margin-right: 20px;
}

.marker-container {
    width:auto; 
    height:auto;
    transform-origin: center center;
}

.marker {
    background-color:rgba(255,0,0,0.5);
    box-sizing:border-box;
    display: flex;
    border-radius:50%;
    /* box-shadow: 0 0 10px #ff0000, inset 0 0 20px #ff0000; */
    transform-origin: center center;
}

.marker span {
    display:flex;
    justify-content:center;
    align-items:center;
    box-sizing:border-box;
    color:#fff;
    cursor: pointer;
    transform-origin:0 0;
    width: 100%;
    transform-origin: 0;
}

.outcomes-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 10px;
}

.outcomes {
    background-color: #fff;
    font: 12px/20px Arial;
    border-radius: 10px;
    padding: 10px;
    width: 464px;
}

.outcomes h2 {
    border-bottom: 1px solid #ddd;
    margin: 0 0 2px;
}

.label-container {
    display: inline-block;
    width: 15%;
}

.label-container h3 {
    font-size: 12px;
    margin: 0;
}

.totals-container {
    float: right;
    width: 15%;
}

.totals-container h4 {
    font-size: 12px;
    font-weight: 100;
    margin: 0;
}

.graph-container {
    float: right;
    width: 68%;
    margin-right: 2%;
}

.graph {
    border: 1px solid gray;
    border-radius: 5px;
    height: 10px;
    margin: 4px 0 9px;
}

#deaths {
    background-color: mediumvioletred;
    min-width: 2%;
    width: 2%;
}

#recovered {
    background-color: seagreen;
    min-width: 2%;
    width: 2%;
}

#active {
    background-color: darkslategray;
    min-width: 2%;
    width: 2%;
}